In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

# Lab 04: Functions and Visualizations

Welcome to Lab 04!

This week, we'll learn about functions, table methods such as `apply`, and how to generate visualizations.

**Recommended Reading:**

* [Applying a Function to a Column](https://inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)

* [Visualizations](https://inferentialthinking.com/chapters/07/Visualization.html#)

To receive credit for a lab, answer all questions correctly and submit before the deadline.


**Collaboration Policy:** Data science is a collaborative activity. While you may talk with others about the labs, we ask that you **write your solutions individually**. If you do discuss the assignments with others **please include their names below** (it's a good way to learn your classmates' names).

**Collaborators:** 

List collaborators here. 

First, set up the notebook by running the cell below.

In [ ]:
from datascience import *
import numpy as np
Table.interactive_plots()

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

## 1. Defining Functions

Let's write a very simple function that converts a proportion to a percentage by multiplying it by 100.  For example, the value of `to_percentage(.5)` should be the number 50 (no percent sign).

A function definition has a few parts.

### `def`
It always starts with `def` (short for **def**ine):

    def

### Name
Next comes the name of the function.  Like other names we've defined, it can't start with a number or contain spaces. Let's call our function `to_percentage`:
    
    def to_percentage

### Signature
Next comes something called the *signature* of the function.  This tells Python how many arguments your function should have, and what names you'll use to refer to those arguments in the function's code.  A function can have any number of arguments (including 0!). 

`to_percentage` should take one argument, and we'll call that argument `proportion` since it should be a proportion.

    def to_percentage(proportion)
    
If we want our function to take more than one argument, we add a comma between each argument name. Note that if we had zero arguments, we'd still place the parentheses () after than name. 

We put a colon after the signature to tell Python it's over. If you're getting a syntax error after defining a function, check to make sure you remembered the colon!

    def to_percentage(proportion):

### Documentation
Functions can do complicated things, so you should write an explanation of what your function does.  For small functions, this is less important, but it's a good habit to learn from the start.  Conventionally, Python functions are documented by writing an **indented** triple-quoted string:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""

### Body
Now we start writing code that runs when the function is called.  This is called the *body* of the function and every line **must be indented with a tab**.  Any lines that are *not* indented and left-aligned with the def statement is considered outside the function. 

Some notes about the body of the function:
- We can write code that we would write anywhere else.  
- We use the arguments defined in the function signature. We can do this because we assume that when we call the function, values are already assigned to those arguments.
- We generally avoid referencing variables defined *outside* the function. If you would like to reference variables outside of the function, pass them through as arguments!


Now, let's give a name to the number we multiply a proportion by to get a percentage:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100

### `return`
The special instruction `return` is part of the function's body and tells Python to make the value of the function call equal to whatever comes right after `return`.  We want the value of `to_percentage(.5)` to be the proportion .5 times the factor 100, so we write:

    def to_percentage(proportion):
        """Converts a proportion to a percentage."""
        factor = 100
        return proportion * factor
        
`return` only makes sense in the context of a function, and **can never be used outside of a function**. `return` is always the last line of the function because Python stops executing the body of a function once it hits a `return` statement.

**Note:**  `return` inside a function tells Python what value the function evaluates to. However, there are other functions, like `print`, that have no `return` value. For example, `print` simply prints a certain value out to the console. 

`return` and `print` are **very** different.

**Question 1.** Define `to_percentage` in the cell below.  Call your function to convert the proportion .2 to a percentage.  Name that percentage `twenty_percent`.

In [ ]:
def ...
    ``` ... ```
    ... = ...
    return ...

twenty_percent = ...
twenty_percent

In [ ]:
grader.check("q1")

Like youâ€™ve done with built-in functions in previous labs (`max`, `abs`, etc.), you can pass in named values as arguments to your function.

**Question 2.** Use `to_percentage` again to convert the proportion named `a_proportion` (defined below) to a percentage called `a_percentage`.

**Note:** You don't need to define `to_percentage` again. Like other named values, functions stick around after you define them.

In [ ]:
a_proportion = 2**(.5)/2
a_percentage = ...
a_percentage

In [ ]:
grader.check("q2")

### Scope
Here's something important about functions: the names assigned *within* a function body are only accessible within the function body. Once the function has returned, those names are gone.  So even if you created a variable called `factor` and defined `factor = 100` inside of the body of the `to_percentage` function and then called `to_percentage`, `factor` would not have a value assigned to it outside of the body of `to_percentage`. For example, running the code below will result in an error because the name `factor` was assigned a value within the function `to_percentage`.

In [ ]:
# You should see an error when you run this. 
# If you don't, you might have defined factor somewhere above.)

factor

# Once you've confirmed this code causes an error, comment out
# the call to factor above and re-run this cell so there are no
# errors

As we've seen with built-in functions, functions can also take strings (or arrays, or tables) as arguments, and they can return those things, too.

**Question 3.** Define a function called `disemvowel`.  It should take a single string as its argument.  (You can call that argument whatever you want.)  It should return a copy of that string, but with all the characters that are vowels removed.  (In English, the vowels are the characters "a", "e", "i", "o", and "u".) You can use as many lines inside of the function to do this as youâ€™d like.

**Hint:** To remove all the "a"s from a string, you can use `that_string.replace("a", "")`.  The `.replace` method for strings returns a new string, so you can call `replace` multiple times, one after the other.

In [ ]:
def disemvowel(a_string):
    """Removes all vowels from a string"""
    ...

# An example call to your function.
# It's helpful to run an example call from
# time to time while you're writing a function,
# to see how it currently works.
disemvowel("can you read this without vowels?")

In [ ]:
grader.check("q3")

### Calls on calls on calls
Just as you write a series of lines to build up a complex computation, it's useful to define a series of small functions that build on each other.  Since you can write any code inside a function's body, you can call other functions you've written.

If a function is a like a recipe, defining a function in terms of other functions is like having a recipe for cake telling you to follow another recipe to make the frosting, and another to make the jam filling.  This makes the cake recipe shorter and clearer, and it avoids having a bunch of duplicated frosting recipes.  It's a foundation of productive programming.

For example, suppose you want to count the number of characters *that aren't vowels* in a piece of text.  One way to do that is this to remove all the vowels and count the size of the remaining string.

**Question 4.** Write a function called `num_non_vowels`.  It should take a string as its argument and return a number.  That number should be the number of characters in the argument string that aren't vowels. You should use the `disemvowel` function you wrote above inside of the `num_non_vowels` function.

**Hint:** The function `len` takes a string as its argument and returns the number of characters in it.

In [ ]:
def num_non_vowels(a_string):
    """The number of characters in a string, minus the vowels."""
    ...

# Try calling your function yourself to make sure the output is what
# you expect. You can also use the interact function in the next cell if you'd like.

In [ ]:
grader.check("q4")

Functions can also encapsulate code that *displays output* instead of computing a value. For example, if you call `print` inside a function, and then call that function, something will get printed.

The `movies_by_year` dataset in the textbook has information about movie sales in recent years.  Suppose you'd like to display the year with the 5th-highest total gross movie sales, printed in a human-readable way.  

**One way to do this could be the block of code below.** Read through it carefully so you understand the operations this code completes, and then run the cell to verify it works.

In [ ]:
movies_by_year = Table.read_table('data/movies_by_year.csv')
rank = 5
fifth_from_top_movie_year = movies_by_year.sort('Total Gross', descending=True).column('Year').item(rank-1)
print('Year number', rank, 'for total gross movie sales was', fifth_from_top_movie_year)

**Oops!** After writing this, you realize you also wanted to print out the 2$^\text{nd}$ and 3$^\text{rd}$ highest years.  Instead of copying and editing your code for these additional cases, you decide to the code into a function.  Since the rank will vary from call to call, you make that an argument to your function and name it `k`.

**Question 5.** Write a function called `print_kth_top_movie_year`.  It should take a single argument, the rank of the year (like 2, 3, or 5 in the above examples).  It should print out a message exactly like the one above.  

**Note:** Your function shouldn't have a `return` statement.

In [ ]:
def print_kth_top_movie_year(k):
    ...
    ...
    print(...)
    
# Example calls to your function
print_kth_top_movie_year(2)
print_kth_top_movie_year(3)

In [ ]:
grader.check("q5")

### `interact`

One interesting python library is `interact`. It allows you to create interactive elements in your notebook, like sliders and dropdown menus, and use the selections as inputs to a function. Running the cell below will create a drop down menu for the elements in the array `np.arange(1, 10)` and display the results of passing the selected element to the function `print_kth_top_movie_year`. Run it and see how it works.

In [ ]:
# interact also allows you to pass in an array for a function argument. 
# It will then present a dropdown menu of options.
_ = interact(print_kth_top_movie_year, k=np.arange(1, 10))

### `print` is not the same as `return`
The `print_kth_top_movie_year(k)` function prints the total gross movie sales for the year that was provided. However, since we did not return any value in this function, we can not use it after we call it. Let's look at an example of another function that prints a value but does not return it.

In [ ]:
def print_number_five():
    print(5)

In [ ]:
print_number_five()

In [ ]:
print_number_five_output = print_number_five()
print_number_five_output + 2

It may seem that `print_number_five()` is returning a value, 5. In reality, it just displays the number 5 to you without giving you the actual value! If your function prints out a value without returning it and you try to use that value, you will run into errors, so be careful!

<!-- BEGIN QUESTION -->

**Question 6.** Explain with words (not just code) how you might alter the `print_number_five` function defined above so that the code `print_number_five() + 2` would result in the value `7`, rather than an error.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## 2. Functions and CEO Incomes

Let's take a look at the 2019 compensation of North Carolina CEOs. The following table contains information on the top 61 highest paid CEOs for companies headquartered in North Carolina. The data was compiled from the [AFL-CIO Executive Paywatch database](https://aflcio.org/paywatch/highest-paid-ceos), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies.

We've copied the raw data from the AFL-CIO database into a file called `nc-ceo-pay.csv`.

In [ ]:
raw_compensation = Table.read_table('data/nc-ceo-pay.csv')
raw_compensation

We want to compute the average of the CEOs' pay. Try running the cell below.

In [ ]:
np.average(raw_compensation.column('Total Pay'))

You should see a TypeError. Let's examine why this error occurred by looking at the values in the `Total Pay` column.

**Question 7.** Set `total_pay_type` to the type of the first value in the "Total Pay" column of the `raw_compensation` Table. You can use the `type` function on this element to determine it's type.

In [ ]:
total_pay_type = ...
total_pay_type

In [ ]:
grader.check("q7")

**Question 8.** You should have found that the values in the `Total Pay` column are strings. It doesn't make sense to take the average of string values, so we need to convert them to numbers if we want to do this. 

Extract the first value in the column `Total Pay`.  It's [Brian Moynihan's](https://en.wikipedia.org/wiki/Brian_Moynihan) pay in 2019, in dollars.  Call it `brian_moynihan_pay_string`.

In [ ]:
brian_moynihan_pay_string = ...
brian_moynihan_pay_string

In [ ]:
grader.check("q8")

**Question 9.** Convert `brian_moynihan_pay_string` to a number of *dollars*. 

**Some hints**, as this question requires multiple steps:

- The string method `strip` will be useful for removing the dollar sign; it removes a specified character from the start or end of a string.  For example, the value of `"100%".strip("%")` is the string `"100"`. 

- The string method `replace` from earlier in this lab will be useful for removing the commas; remember this method can remove any character by replacing it with an empty string `''`

- You'll also need the function `float`, which converts a string that looks like a number to an actual number.

In [ ]:
brian_moynihan_pay = ...
brian_moynihan_pay

In [ ]:
grader.check("q9")

To compute the average pay, we need to do this for every CEO.  But that looks like it would involve copying this code 61 times.

This is where functions come in.  First, we'll define a new function, giving a name to the expression that converts "total pay" strings to numeric values.  Later in this lab, we'll see the payoff: we can call that function on every pay string in the dataset at once.

The next section of this lab explains how to apply a function to every element in a Table. For now, complete the return expression for the function below.

**Question 10.** Copy the expression you used to compute `brian_moynihan_pay`, and use it as the return expression of the function below. But make sure you replace the specific `brian_moynihan_pay_string` with the generic `pay_string` name specified in the first line in the `def` statement.

**Hint:** When dealing with functions, you should generally not be referencing any variable outside of the function. Usually, you want to be working with the arguments that are passed into it, such as `pay_string` for this function. If you're using `brian_moynihan_pay_string` within your function, you're referencing an outside variable!

In [ ]:
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100' (in millions) to a number of dollars."""
    ...

In [ ]:
grader.check("q10")

Running that cell doesn't convert any particular pay string. Instead, it creates a function called `convert_pay_string_to_number` that can convert *any* string with the right format to a number representing dollars.

We can call our function just like we call the built-in functions we've seen. It takes one argument -- a string -- and it returns a float.

In [ ]:
# We can also compute Susan DeVores pay in the same way
convert_pay_string_to_number(raw_compensation.where('Name', are.containing('Susan')).column("Total Pay").item(0))

So, what have we gained by defining the `convert_pay_string_to_number` function?

Well, without it, we'd have to copy the code 

`float(pay_string.strip('$').replace(',',''))` 

each time we wanted to convert a pay string.  Now we just call a function whose name says exactly what it's doing.

## 3. `apply`ing Functions

Defining a function is a lot like giving a name to a value with `=`.  In fact, a function is a value just like the number 1 or the text "data".

For example, if we want to we can make a new name for the built-in function `max`.

In [ ]:
our_name_for_max = max
our_name_for_max(2, 6)

The old name for `max` is still around.

In [ ]:
max(2, 6)

Now try writing `?max` or `?our_name_for_max` (or the name of any other function) in a cell, and run that cell.  A information box should show up at the bottom of your screen a longer description of the function

**Note:** You can also press Shift+Tab after clicking on a name to see similar information.

In [ ]:
?max

### Careful!
Because Python treats functions like any other type of object, you can overwrite the value like you could any other piece of data.

Let's look at what happens when we set `max`to a non-function value. You'll notice that a TypeError will occur when you try running `max(2, 6)` on line 2 in the cell below. That's because in line 1, you redefined `max` to no longer be the function that you know and love, but rather the `int` with value of `6`. Things like integers and strings are not callable as functions, which explains the error message you get when you run the cell below. 

If you ever try running a function and get this error message, look out for any functions that might have been renamed (likely by accident) somewhere else in your notebook.

In [ ]:
max = 6
max(2, 6)

### Important

Run the cell below to reset `max` back to the default function in Python.

In [ ]:
# This cell resets max to the built-in function. 
# Just run this cell, don't change its contents.
import builtins
max = builtins.max

### Why is this useful?

It may seem odd to give a function a new name, but this feature in Python does have it's uses. Since functions are treated just like other data types, it's possible to pass functions as arguments to other functions, just like you might pass an `int` or `str` object. 

Here's a simple but not-so-practical example: we can make an array of functions by providing function names as arguments to the `make_array` function.

In [ ]:
make_array(max, np.average, are.equal_to)

**Question 12.** Make an array containing any 3 other functions you've seen.  Call it `some_functions`.

In [ ]:
some_functions = ...
some_functions

In [ ]:
grader.check("q12")

Working with functions as values can lead to some funny-looking code. For example, see if you can figure out why the following code works. Check your explanation with a classmate or your instructor.

In [ ]:
make_array(max, np.average, are.equal_to).item(0)(4, -2, 7)

A more useful example of passing functions to other functions as arguments is the table method `apply`.

`apply` calls a function many times, once on *each* element in a column of a table.  It produces an *array* of the results.  Here we use `apply` to convert every CEO's pay to a number, using the function you defined

In [ ]:
raw_compensation.apply(convert_pay_string_to_number, 'Total Pay')

Here's an illustration of what that did:

<img src="images/apply.png" width="800" height="500"/>

**Note:** We didnâ€™t write `raw_compensation.apply(convert_pay_string_to_number(), 'Total Pay')` or `raw_compensation.apply(convert_pay_string_to_number('Total Pay'))`. 

We provided the name of the function, with no parentheses and the name of the column weâ€™d like to use it on. The `.apply` method will call the function you specify, in this case `convert_pay_string_to_number`, using each value in the specified column, in this case`'Total Pay'`, for you! It will It's a very quick operation!

**Question 13.** Using `apply`, make a table that's a copy of `raw_compensation` with one additional column called `Total Pay ($)`.  That column should contain the result of applying `convert_pay_string_to_number` to the `Total Pay` column (as we did above).  Call the new table `compensation`.

In [ ]:
compensation = raw_compensation.with_column(
    'Total Pay ($)',
    ...
    )
compensation

In [ ]:
grader.check("q13")

Now that we have all the pays as numbers, we can learn more about them through computation.

**Question 14.** Compute the average total pay of the CEOs in the dataset.

In [ ]:
average_total_pay = ...
average_total_pay

In [ ]:
grader.check("q14")

**Question 15.** Companies pay executives in a variety of ways: in salary, by granting stock and/or options, other equity in the company, or with ancillary benefits (like private jets). Compute the proportion of each CEO's pay that was salary. 

**Hint:** Your answer should be an array of numbers, one for each CEO in the dataset.

In [ ]:
salary_proportion = ...
salary_proportion

In [ ]:
grader.check("q15")

### Why is `apply` useful?

For operations like arithmetic, or the functions in the NumPy library, you don't need to use `apply`, because they automatically work on each element of an array. These types of functions are called **vectorized** in data science langauge. However, there are many functions that aren't written in a way that they work on each element in an array automatically. The string manipulation we did in today's lab is one example.  Since you can write any code you want in a function, `apply` gives you the power to use it on every element in an array without knowing how to properly **vectorize** your functions.

**Question 16.** Extend the table so it includes a new column labeled `'Salary (%)'` which contains the proportions contained in the array `salary_proportion`. Call this new table `ceo_salary_percent`.

In [ ]:
ceo_salary_percent = ...
ceo_salary_percent

In [ ]:
grader.check("q16")

<!-- BEGIN QUESTION -->

**Question 17.** Use the `set_format` Table method to format the `'Salary (%)'` column in `ceo_salary_percent` so the values display as percentages out of 100 instead of proportions out of 1. As a reminder, the syntax for `set_format` is:

```
Table.set_format(column_or_columns, formatter)
```

In [ ]:
...
ceo_salary_percent

<!-- END QUESTION -->

## 4. Histograms

Earlier, we computed the average pay among the CEOs in our 61-CEO dataset. The average doesn't tell us everything about the amounts CEOs are paid, though. Maybe just a few CEOs make the bulk of the money, even among these 61.

We can use a histogram method to display the distribution of a set of numbers. The table method hist takes a single argument, the name of a column of numbers. It produces a histogram of the numbers in that column.

<!-- BEGIN QUESTION -->

**Question 18.** Make a histogram of the total pay of the CEOs in `compensation`. Your bins should start a $\$$ 0 and end at $ \$ $25,000,000 and be $ \$ $1,000,000 wide. Check with your group to make sure you have the right plot.

**Note:** Because your units are dollars (not thousands or millions of dollars) each bar has a very large number for its width. That means that the bars will have very small numbers for their heights, since their areas are still going to be between 0 and 100 percent.

In [ ]:
...

<!-- END QUESTION -->

**Question 19.** How many CEOs made more than $10 million in total pay? Compute the value using code (`where` and `num_rows` will be your friend!), then check that the value you found is consistent with what you see in the histogram.

In [ ]:
num_ceos_more_than_10_million = ...
num_ceos_more_than_10_million

In [ ]:
grader.check("q19")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by finding the .zip file in the left side of the screen, right-clicking on it, and selecting **Download**. You'll submit this .zip file for the assignment in Canvas to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)