In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights / 12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights) / len(heights)

In [ ]:
np.average(heights)

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
'strings_array' * 2

In [ ]:
'ha'*2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 3)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(7)

In [ ]:
b = np.arange(5)
b

In [ ]:
b.item(3)

In [ ]:
food = make_array('pizza', 'spaghetti', 'ice cream', 'donuts', 'crackers', 'tacos', 'nachos', 'chicken', 'sushi', 'apples')
food

In [ ]:
food.item(7)

## Creating a Table from Scratch ##

In [ ]:
#Create an array with the following strings: Englewood, Knox, Green, and Markham
streets = ...
streets

In [ ]:
#Create a new table with a column called Streets that uses the array streets.
southside =...
southside

In [ ]:
#Add a column to the table southside called Blocks from campus that includes the values 0-3.
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
#Why did the new column not show up?
southside

In [ ]:
#Assign the name southside to the newly created table.
southside = ...
southside

In [ ]:
#What code would allow us identify the column labels of southside?
...

In [ ]:
#Use code to determine how many columns are in the southside table
...

In [ ]:
#Use code to determine how many rows are in the southside table
...

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('data/du_bois.csv')
du_bois

In [ ]:
# Which group ("CLASS") spent the highest percentage on rent?
du_bois.sort('RENT', descending=True).set_format('RENT', PercentFormatter)

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
#How much money was spent on food for each group?
...

In [ ]:
#Assign the amount of money spent on food to food_dollars.
#Add a column called 'Food $' to the du_bois table and print the table.
food_dollars = ...
du_bois = ...
du_bois...

In [ ]:
#What does this do?
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
#Create an updated movies table with a column called 'Tickets sold'
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
#What if we only want to see data between the years 2000 and 2004?
...

In [ ]:
#What if we only care about the year 2002.
...

In [ ]:
#What is another way to data from the year 2002?
...

In [ ]:
#What code would produce only Harry Potter movies?
...

In [ ]:
#Describe what the code below is doing?
movies.take(np.arange(2, 5))