In [ ]:
from datascience import *
import numpy as np

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')

## Numbers ##

In [ ]:
#Multiply 4 by 5. What type of value is it?

In [ ]:
#Divide 20 by 3. What type of value is it?

In [ ]:
#Divide 20 by 2. What type of value is it?

In [ ]:
#How large are the numbers Python can handle?
#Raise 1234 to the 5th power

In [ ]:
# Raise 123456789 to the 1234th power

In [ ]:
#Divide 4 by 700

In [ ]:
#Divide 4 by 700000000000000000

In [ ]:
# Run this cell.  What do you notice about the result?
0.12345678901234567890123456789

In [ ]:
# Run this cell.  Did you get the answer you expected?
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
# Run this cell.  What is it doing?
16 ** 0.5

In [ ]:
# Run this cell.  What do you get the results you expected?
(10 ** 0.5) ** 2

In [ ]:
# What type of value is produced by this cell?
20 / 10

In [ ]:
# If we divide 20 by 10, how would we make the result give us only 2?

In [ ]:
int(20 / 9)

In [ ]:
int(20/11)

In [ ]:
# How would we turn 3 into 3.0?

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
#Assign 5 to x

In [ ]:
# Run this cell.  Did you see the results you expected?
2x

In [ ]:
# Run this cell.  Why is the result here different?
2 * x

In [ ]:
#Run this cell.
round(3.7)

In [ ]:
#Run this cell. What do you notice?
round(2.00000052345324, 2)

In [ ]:
# Run this cell.  An integer times a float produces what?
10 * 3.0

## Strings ##

In [ ]:
# Run this cell.
'baby yoda'

In [ ]:
# Run this cell.
"baby yoda isn't yoda"

In [ ]:
# Run this cell. What happened?
'baby yoda isn't yoda'

In [ ]:
# Run this cell. This is called concatenation
'straw' + 'berry'

In [ ]:
#What code would be needed to produce 'straw berry' ?

In [ ]:
# Run this cell. What do you notice?
'ha' * 10

In [ ]:
# Run this cell. What happened?
'lo' * 5.5

In [ ]:
# Run this cell. What results do you expect?
int('3')

In [ ]:
# Run this cell. What happened?
int('3.0')

In [ ]:
# Run this cell. 
float('3.0')

In [ ]:
# Run this cell.
str(3)

In [ ]:
# Run this cell.
str(4.5)

## Types ##

In [ ]:
# What answer do you expect?  Now, run this cell
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(2+2)

In [ ]:
type('2+2')

## Arrays ##

In [ ]:
type(abs)

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
charlotte = skyscrapers.where('city', 'Charlotte')
charlotte

In [ ]:
charlotte.select('height')

In [ ]:
charlotte.column('height')

In [ ]:
np.average(charlotte.column('height'))

In [ ]:
dallas = skyscrapers.where('city', 'Dallas')
dallas

In [ ]:
np.average(dallas.column('height')) - np.average(charlotte.column('height'))