In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [ ]:
# add 2 and 9
...

In [ ]:
# multiply 2 and 9
...

In [ ]:
# divide 2 by 9
...

In [ ]:
# add 2 and 3 then multiply by 9
...

In [ ]:
# add 2 and 3 then multiply the sum by 9
...

In [ ]:
# raise 2 to the power of 4
...

In [ ]:
# run this cell
"hello"

## Names ##

In [ ]:
# assign 4 to a
...

In [ ]:
# print a
...

In [ ]:
# assign 9 to b
...

In [ ]:
# print b
...

In [ ]:
# multiply a by 3
...

In [ ]:
# assign the sum of a and b to total
...

In [ ]:
# print total
...

In [ ]:
# assign 10 to a
...

In [ ]:
# print total
...

In [ ]:
# assign the sum of a and b to total
...

In [ ]:
# print total
...

In [ ]:
# run this cell
'total'

### Why Names?

In [ ]:
# assign the number of hours in a work week to hours_per_week
# assign the number of weeks in a year to week_per_year
...
...

In [ ]:
# assign the product of the number of hours in a work week and the number
# of weeks per year to hours_per_year (DO NOT USE NUMBERS)
...

In [ ]:
# Print hours_per_year
...

In [ ]:
# assign the minimum wage in NC to nc_hourly_minimum_wage
...

In [ ]:
# assign the number of hours per week times minimum wage to weekly_wages
# print weekly_wages
...
...

In [ ]:
# assign the number of hours worked in a year times the minimum wage to 
# yearly_wages
# print yearly_wages
...
...

In [ ]:
# determine the weekly wage without using assignment statements
...

In [ ]:
# determine the yearly wages without using assignment statements
...

## Functions and Call Expressions

In [ ]:
# find the absolute value of -5
...

In [ ]:
# find the absolute value of 1 minus 3
...

In [ ]:
# assign 52 to day_temp
# assign 47 to night_temp
# find the absolute value of the difference between the day_temp and night_temp
...
...
...

In [ ]:
# use the min function to find the minimum among the following numbers
# 14, 15, -5280, -3, 123456
...

In [ ]:
# use the round function to round 123.456
...

In [ ]:
# use the round function to round 123.456 to 1 decimal place
...

In [ ]:
# use the round function to round 123.45678901 to 4 decimal places
# use ndigits=
...

## Tables ##

In [ ]:
# creating a table called cones using the read_table function
cones = Table.read_table('data/cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
# display only the Flavor column of the table cones
...

In [ ]:
# display the Flavor and Price columns of the table cones
...

In [ ]:
# will this code work?
cones.select(Flavor, 'Price')

In [ ]:
# drop the column Price
...

In [ ]:
# run this cell to see if the original cones table changes
cones

In [ ]:
# drop the column Price and assign this new table to cones_without_price
# print cones_without_price
...
...

In [ ]:
# display only rows where the flavor is chocolate
...

In [ ]:
# sort the table by price
...

In [ ]:
# sort the table to show the highest price at the top
...

In [ ]:
# assign the table that only displays the price to "a"
# print "a" (NOTE: do not use the quotes, only the letter)
...
...

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
# reading in a file and assigning it to skyscrapers
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

In [ ]:
# display skyscrapers that are located in Charlotte
...

In [ ]:
# display information about only the Empire State Building
...

In [ ]:
# display skyscrapers in New York City and sort by the oldest COMPLETED first
...

In [ ]:
# display skyscrapers in New York City and sort by the newest COMPLETED first
...

In [ ]:
# display the skyscrapers in order, starting with the tallest
...