In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
plots.rcParams["patch.force_edgecolor"] = True

## Lesson 08: Histograms ##

## Categorical Distribution ##

In [2]:
top_movies = Table.read_table('data/top_movies_2017.csv')
top_movies

Title                            | Studio          | Gross     | Gross (Adjusted) | Year
Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939
Star Wars                        | Fox             | 460998007 | 1583483200       | 1977
The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965
E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982
Titanic                          | Paramount       | 658672302 | 1204368000       | 1997
The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956
Jaws                             | Universal       | 260000000 | 1138620700       | 1975
Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965
The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973
Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937
... (190 rows omitted)

Assign to `top_movies` the original `top_movies` and add the column
`Millions` which will display the amount of money made in Millions of 
dollars rounded to 3 decimal places

Next, create a bar chart displaying the `Title` and `Millions` for the 
first 10 rows

In [ ]:
top_movies = top_movies.with_column('Millions', 
...

In [ ]:
# Show only the Studio and assign to `studios`
studios = ...
studios

In [ ]:
# Use the group method to count up the number of occurances of each category
studio_distribution = ...
studio_distribution

In [ ]:
sum(studio_distribution.column('count'))

## Bar Charts ##

In [ ]:
# create a horizontal bar chart of `studio_distribution`
...

In [ ]:
# Sort the count from highest to lowest and then create a
# horizontal bar chart
...

## Numerical Distribution ##

In [ ]:
# Determine how old these movies are and add another column called 
# `Age` with the ages
ages = ...
top_movies = ...
top_movies

## Binning ##

In [ ]:
# determine the newest and oldest movies
...

In [ ]:
# creating our own bins
my_bins = make_array(0, 5, 10, 15, 25, 40, 65, 105)

In [ ]:
binned_data = top_movies.bin('Age', bins = my_bins)
binned_data

In [ ]:
top_movies.bin('Age', bins = np.arange(0, 126, 25))

In [ ]:
top_movies.bin('Age', bins = np.arange(0, 101, 25))

In [ ]:
top_movies.where('Age', 100)

## Histograms ##

In [ ]:
my_bins

In [ ]:
binned_data

In [ ]:
# Let's make our first histogram!
top_movies.hist('Age', bins = my_bins, unit = 'Year')

In [ ]:
top_movies.bin('Age', bins = my_bins)

In [ ]:
# Let's try equally spaced bins instead.
top_movies.hist('Age', bins = np.arange(0, 110, 10), unit = 'Year')

In [ ]:
# Let's try not specifying any bins!
top_movies.hist('Age', unit='Year')

In [ ]:
# Add a column containing what percent of movies are in each bin
binned_data = binned_data.with_column(
    'Percent', 100*binned_data.column('Age count')/200)

In [ ]:
binned_data

## Height ##

### Question: What is the height of the [40, 65] bin?

In [ ]:
# Step 1: Calculate % of movies in the [40, 65) bin
percent = binned_data.where('bin', 40).column('Percent').item(0)
percent

In [ ]:
# Step 2: Calculate the width of the 40-65 bin
width = 65 - 40
width

In [ ]:
# Step 3: Area of rectangle = height * width
#         --> height = area in percent / width
height = percent / width
height

### What are the heights of the rest of the bins?

In [ ]:
# Get the bin lefts
bin_lefts = binned_data.take(np.arange(binned_data.num_rows - 1))
bin_lefts

In [ ]:
# Get the bin widths
bin_widths = np.diff(binned_data.column('bin'))
bin_lefts = bin_lefts.with_column('Width', bin_widths)
bin_lefts

In [ ]:
# Get the bin heights
bin_heights = bin_lefts.column('Percent') / bin_widths
bin_lefts = bin_lefts.with_column('Height', bin_heights)
bin_lefts

In [ ]:
bin_lefts

In [ ]:
top_movies.hist('Age', bins = my_bins, unit = 'Year')